<form action="/dboys" method="post" enctype="multipart/form-data">

<div class="row"><br><br></div>

<div class="row">
    <div class="form-group col-md-4 col-md-offset-4 col-xs-12">

        <label for="name">NAME</label>
        <input type="text" id="name" name="name" class="form-control">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-4 col-xs-12 col-md-offset-4">
        <label for="price">Create UserName </label>
        <input type="text" id="username" name="Username" class="form-control">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-4 col-xs-12 col-md-offset-4">
        <label for="tax">Phone Number </label>
        <input type="text" id="phoneno" name="number" class="form-control">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-4 col-xs-12 col-md-offset-4">
        <label for="tax">Email ID </label>
        <input type="text" id="email" name="Email" class="form-control">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-4 col-xs-12 col-md-offset-4">
        <label for="tax">Default password  </label>
        <input type="text" id="password" name="pass" class="form-control">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-4 col-xs-12 col-md-offset-4">
        <label for="tax">Vechile Number</label>
        <input type="text" id="Vno" name="Vechile no" class="form-control">
    </div>
</div>
<div class="row">
    <div class="form-group col-md-4 col-md-offset-4">
        <button type="submit" class="btn btn-primary form-control">Upload</button>
        <p style="color:red;" class="h3 col-md-offset-2">{{mes}}</p>
    </div>
    <div class="row">
        <div class="form-group col-md-4 col-md-offset-5 ">

        </div>
    </div>
</div>
</form>