<div class="col-md-offset-5">
<img src="data:image/jpeg;base64,{{doc.requestBody.profile.photo}}" alt="red hot">
</div>
<br>

<div class="col-md-offset-5">

  <a href="#" class="btn btn-info btn-lg">
           <span class="glyphicon glyphicon-ok"></span> Accept
         </a>

         <a href="#" class="btn btn-danger btn-lg">
                  <span class="glyphicon glyphicon-remove"></span> Decline
                </a>

</div>