<div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
           <a href="/list"> <img src="/images/application.svg" alt="..."></a>
            <div class="caption">
                <h3 align="middle">Visitors Application</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="/itemedit"><img src="/images/item_edit.png" alt="..."></a>
            <div class="caption">
                <h3 align="middle">Edit Item</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="/dboys"><img src="/images/dboys.png" alt="..."></a>
            <div class="caption">
                <h3 align="middle">Add Delivary Boys</h3>
            </div>
        </div>
    </div>
</div>
