  <div style="background-color: #e97319">
      <span class="col-md-offset-3">  <font color="white" size="30px">
Sri Ramatulasi Aqua Farms </font></span>

 <div> <p style=" padding-Left: 1000px;"> <font color="white"> CONTACT NUMBER :0000000000 </font></p>

    </div>

  </div>
  <div class="container">
    <div class="col-md-12">

  <h1 style="font-size:50px" class="col-md-offset-4"> Visitor Form <a type="button" href="/registered" class="btn btn-info col-md-offset-4">Already Regsitered</a></h1>
</div>
</div>
<form action="/up" method="post" enctype="multipart/form-data">
<table class="table table-condensed">

    <tbody>
      <tr>
        <td>Aadhar Number :</td>
        <td> <textarea class="form-control" required rows="1" name="adhaar_number" size="0" maxlength="16" ></textarea>
        </td>
      </tr>
      <tr>
        <td>Person Name: </td>
        <td><textarea class="form-control" required rows="1" name="name"></textarea></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><textarea class="form-control"  requiredrows="3" name="Address"></textarea></td>
      </tr>
      <tr>
      <td> Date Of Birth:</td>
      <td> <input type="Date" class="form-control" name="date" required>
      </td>
      </tr>
      <tr>
      <td> Phone Number:</td>
      <td> <input type="Phone Number" class="form-control" required name="phone_number" id="n" size="0" maxlength="10" ></td>
      </tr>
      <tr>
      <td> Email:</td>
      <td> <input type="email"  class="form-control" name="email" id="email"> </td>
      </tr>
      <tr>
      <td>  PAN Number</td>
      <td>  <input type="Text"  class="form-control" name="pan_nummber" id="text" size="0" maxlength="10" > </td>
      </tr>
      <tr>
        <td> Occupation :</td>
        <td>

                <select class="form-control" name="occupation">
                    <option>Student</option>
                    <option>Bussiness</option>

                </select>

    </td>

        </tr>
        <tr>
        <td>Purpose Of Visit
        </td> <br>

        <td>
          <select class="form-control" name="purpose_of_vist">
              <option>Culture Knowledge </option>
              <option>Official Visit </option>

          </select>

   </td>
      </tr>
      <tr>


      </tr>



    </tbody>
  </table>
  <div class="form-group">
      <input type="file" name="img[0]" class="file">
      <div class="input-group col-xs-12">
        <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
        <input type="text" class="form-control input-lg" disabled placeholder="Upload Adhaar Image">
        <span class="input-group-btn">
          <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
        </span>
      </div>
    </div>

    <div class="form-group">
        <input type="file" name="img[1]" class="file">
        <div class="input-group col-xs-12">
          <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
          <input type="text" class="form-control input-lg" disabled placeholder="Upload  Image">
          <span class="input-group-btn">
            <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
          </span>
        </div>
      </div>
      <div class="form-group">
          <input type="file" name="img[2]" class="file">
          <div class="input-group col-xs-12">
            <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
            <input type="text" class="form-control input-lg" disabled placeholder="Upload Address Image">
            <span class="input-group-btn">
              <button class="browse btn btn-primary input-lg" type="button"><i class="glyphicon glyphicon-search"></i> Browse</button>
            </span>
          </div>
        </div>
<div class="container" rows="3" id="deckaration ">
  Declaration: I headby requesting  M/s. Sri Ramatulasi Aqua Farms to allow me to visit their Crav Aquaculture Farm and i clearly read and accepting all the terms and conditions of their farms visit

  </div>
  <br>

      <label class="checkbox-inline">
      <input type="checkbox" value=""> i accept the declaration
      </label>
 <br>
 </br>
 <div class="col-md-offset-5">

  <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><font size="4px">Submit </font></button>

  <button type="reset" class="btn btn-info"><font size="4px">Reset </font></button>
</div>
 <br>
 </br>
  <br>
 </br>


</div>
</form>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="form-control-label">Select visit Date</label>
            <input type="Date" class="form-control" name="date" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="form-control-label">Enter OTP</label>
            <input type="text" class="form-control" id="message-text">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>
